<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8"/>
  <title>注册</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="stylesheet" href="/AmazeUI-2.4.2/assets/css/amazeui.min.css"/>
  <link href="/css/dlstyle.css" rel="stylesheet" type="text/css"/>
  <script src="/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
  <script src="/AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
  <script src="/AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
</head>

<body>

<div class="login-boxtitle">
  <a href="home/demo.html"><img alt="" src="/images/logobig.png"/></a>
</div>

<div class="res-banner">
  <div class="res-main">
    <div class="login-banner-bg"><span></span><img src="/images/big.jpg"/></div>
    <div class="login-box">

      <div class="am-tabs" id="doc-my-tabs">
        <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
          <li class="am-active"><a href="">邮箱注册</a></li>
          <li><a href="">手机号注册</a></li>
        </ul>

        <div class="am-tabs-bd">
          <div class="am-tab-panel am-active">
            <form method="post" enctype="text/plain">

              <div class="user-email">
                <label for="email"><i class="am-icon-envelope-o"></i></label>
                <input type="email" name="" id="email" placeholder="请输入邮箱账号"/>
              </div>
              <div class="user-pass">
                <label for="password"><i class="am-icon-lock"></i></label>
                <input type="password" name="" id="password1" placeholder="设置密码"/>
              </div>
              <div class="user-pass">
                <label for="passwordRepeat"><i class="am-icon-lock"></i></label>
                <input type="password" name="" id="passwordRepeat1" placeholder="确认密码"/>
              </div>

            </form>

            <div class="login-links">
              <label for="reader-me">
                <input type="checkbox"/> 点击表示您同意商城《服务协议》
              </label>
            </div>
            <div class="am-cf">
              <input type="submit" name="" id="register1" value="注册"
                     class="am-btn am-btn-primary am-btn-sm am-fl"/>
            </div>

          </div>

          <div class="am-tab-panel">
            <form method="post">
              <div class="user-phone">
                <label for="phone"><i class="am-icon-mobile-phone am-icon-md"></i></label>
                <input type="tel" name="" id="phone" placeholder="请输入手机号"/>
              </div>
              <div class="verification">
                <label for="code"><i class="am-icon-code-fork"></i></label>
                <input type="tel" name="" id="code" placeholder="请输入验证码"/>
                <a class="btn" id="sendMobileCode" style="cursor: pointer">
                  <span id="dyMobileButton">获取</span></a>
              </div>
              <div class="user-pass">
                <label for="password"><i class="am-icon-lock"></i></label>
                <input type="password" name="" id="password" placeholder="设置密码"/>
              </div>
              <div class="user-pass">
                <label for="passwordRepeat"><i class="am-icon-lock"></i></label>
                <input type="password" name="" id="passwordRepeat" placeholder="确认密码"/>
              </div>
            </form>
            <div class="login-links">
              <label for="reader-me">
                <input id="reader-me" type="checkbox"/> 点击表示您同意商城《服务协议》
              </label>
            </div>
            <div class="am-cf">
              <input type="submit" name="" id="register" value="注册"
                     class="am-btn am-btn-primary am-btn-sm am-fl"/>
            </div>

            <hr/>
          </div>

          <script>
              $(function () {
                  $('#doc-my-tabs').tabs();

                  // 验证邮箱
                  $('#email').change(function () {
                      var email = $("#email").val();
                      console.log(email);
                      $.post("/checkEmail", {
                              "email": email
                          },
                          function (data) {
                              if (data.status !== 200) {
                                  alert("该邮箱已经被使用!");
                              }
                          }, "json");
                  });

                  // 验证手机
                  $('#phone').change(function () {
                      var phone = $("#phone").val();
                      console.log(phone);
                      $.post("/checkPhone", {
                              "phone": phone
                          },
                          function (data) {
                              if (data.status !== 200) {
                                  alert("该手机号已经被使用!");
                              }
                          }, "json");
                  });

                  // 获取手机验证码
                  $('#sendMobileCode').click(function () {
                      var phone = $("#phone").val();
                      $.get("/sendMobileCode", {
                              "phone": phone
                          },
                          function (data) {
                              console.log(data.status);
                              if (data.status !== 200) {
                                  alert(data.msg);
                              }
                          }, "json");
                  });

                  // 邮箱注册
                  $("#register1").click(
                      function () {
                          var email = $("#email").val();
                          var password = $("#password1").val();
                          var passwordRepeat = $("#passwordRepeat1").val();
                          var flag = true;
                          var errMsg = '';
                          if (email === null || email === '') {
                              flag = false;
                              errMsg += '邮箱不可为空!';
                          }
                          if (password === null || password === '') {
                              flag = false;
                              errMsg += '密码不可为空!';
                          }
                          if (password !== passwordRepeat) {
                              flag = false;
                              errMsg += '两次密码输入不一致!';
                          }
                          if (flag) {
                              $.post("/register", {
                                      "email": email,
                                      "password": password
                                  },
                                  function (data) {
                                      alert(data.status);
                                      console.log(data.msg);
                                      console.log(data.data);
                                  }, "json");
                          } else {
                              alert(errMsg);
                          }
                      }
                  );

                  //手机注册
                  $("#register").click(
                      function () {
                          var phone = $("#phone").val();
                          var code = $("#code").val();
                          var password = $("#password").val();
                          var passwordRepeat = $("#passwordRepeat").val();
                          var flag = true;
                          var errMsg = '';
                          if (phone === null || phone === '') {
                              flag = false;
                              errMsg += '手机号码不可为空!';
                          }
                          if (password === null || password === '') {
                              flag = false;
                              errMsg += '密码不可为空!';
                          }
                          if (code === null || code === '') {
                              flag = false;
                              errMsg += '手机验证码不可为空!';
                          }
                          if (password !== passwordRepeat) {
                              flag = false;
                              errMsg += '两次密码输入不一致!';
                          }
                          if (flag) {
                              $.post("/register", {
                                      "phone": phone,
                                      "code": code,
                                      "password": password
                                  },
                                  function (data) {
                                      alert(data.status);
                                      console.log(data.msg);
                                      console.log(data.data);
                                  }, "json");
                          } else {
                              alert(errMsg);
                          }
                      }
                  );
              });
          </script>

        </div>
      </div>

    </div>
  </div>

  <div class="footer ">
    <div class="footer-hd ">
      <p>
        <a href="# ">恒望科技</a>
        <b>|</b>
        <a href="# ">商城首页</a>
        <b>|</b>
        <a href="# ">支付宝</a>
        <b>|</b>
        <a href="# ">物流</a>
      </p>
    </div>
    <div class="footer-bd ">
      <p>
        <a href="# ">关于恒望</a>
        <a href="# ">合作伙伴</a>
        <a href="# ">联系我们</a>
        <a href="# ">网站地图</a>
        <em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank"
                                                   title="模板之家">模板之家</a>
          - Collect from <a href="http://www.cssmoban.com/" title="网页模板"
                            target="_blank">网页模板</a></em>
      </p>
    </div>
  </div>
</div>
</body>

</html>