<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper代理方式整合dao接口时namespace必须为对应接口的完全限定名 -->
<mapper namespace="com.zzsong.study.orange.user.mapper.AreaMapper">
    <insert id="addProvince" parameterType="list">
        INSERT IGNORE INTO province (code, name) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.code}, #{item.name})
        </foreach>
    </insert>

    <insert id="addCity" parameterType="list">
        INSERT IGNORE INTO city (code, name, parent_code) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.code}, #{item.name}, #{item.parentCode})
        </foreach>
    </insert>

    <insert id="addArea" parameterType="list">
        INSERT IGNORE INTO area (code, name, parent_code) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.code}, #{item.name}, #{item.parentCode})
        </foreach>
    </insert>
</mapper>