<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper代理方式整合dao接口时namespace必须为对应接口的完全限定名 -->
<mapper namespace="com.zzsong.study.orange.user.mapper.UserMapper">
    <!-- 新增账户 -->
    <insert id="addUser" parameterType="user">
        <selectKey keyProperty="userId" resultType="String" order="BEFORE">
            SELECT UUID()
        </selectKey>
        INSERT INTO user
        (user_id, nick_name, name, gender, birthday, phone,
        email, `password`, id_card_number, payment_password)
        VALUES
        (#{userId}, #{nickName}, #{name}, #{gender}, #{birthday}, #{phone}, #{email},
        #{password}, #{idCardNumber}, #{paymentPassword});
    </insert>

    <!-- 账号密码查询账户 -->
    <select id="getUser" parameterType="user" resultType="user">
        SELECT
        user_id,
        nick_name,
        name,
        gender,
        birthday,
        phone,
        email,
        password,
        account_state,
        create_time,
        state_time,
        membership_grade,
        id_card_number,
        payment_password,
        is_real_authentication
        FROM user
        <where>
            `password` = #{password}
            AND
            (user_id = #{userId} OR phone = #{phone} OR email = #{email})
        </where>
    </select>

    <select id="checkUser" parameterType="user" resultType="int">
        SELECT
        COUNT(user_id)
        FROM user
        <where>
            <if test="phone != null">phone = #{phone}</if>
            <if test="email != null">OR email = #{email}</if>
        </where>
    </select>

    <update id="changePassword">
        UPDATE user
        SET `password` = #{newPassword}
        <where>
            `password` = #{user.password}
            AND
            (user_id = #{user.userId} OR phone = #{user.phone} OR email = #{user.email})
        </where>
    </update>
</mapper>