<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper代理方式整合dao接口时namespace必须为对应接口的完全限定名 -->
<mapper namespace="com.zzsong.study.orange.user.mapper.UserMapper">
    <!-- 用户表字段 -->
    <sql id="userField">
        user_id,
        nick_name,
        name,
        gender,
        birthday,
        phone,
        email,
        password,
        account_state,
        create_time,
        state_time,
        membership_grade,
        id_card_number,
        payment_password,
        is_real_authentication,
        head_portrait
    </sql>

    <!-- 新增账户 -->
    <insert id="addUser" parameterType="user">
        <selectKey keyProperty="userId" resultType="String" order="BEFORE">
            SELECT UUID()
        </selectKey>
        INSERT INTO user
        (user_id, nick_name, name, gender, birthday, phone,
        email, `password`, id_card_number, payment_password)
        VALUES
        (#{userId}, #{nickName}, #{name}, #{gender}, #{birthday}, #{phone}, #{email},
        #{password}, #{idCardNumber}, #{paymentPassword});
    </insert>

    <!-- 账号密码查询账户 -->
    <select id="getUser" parameterType="user" resultType="user">
        SELECT
        <include refid="userField"/>
        FROM user
        <where>
            `password` = #{password}
            AND
            (user_id = #{userId} OR phone = #{phone} OR email = #{email})
        </where>
    </select>

    <select id="checkUser" parameterType="user" resultType="int">
        SELECT
        COUNT(user_id)
        FROM user
        <where>
            <if test="phone != null">phone = #{phone}</if>
            <if test="email != null">OR email = #{email}</if>
        </where>
    </select>

    <update id="changePassword">
        UPDATE user
        SET `password` = #{newPassword}
        <where>
            `password` = #{user.password}
            AND
            (user_id = #{user.userId} OR phone = #{user.phone} OR email = #{user.email})
        </where>
    </update>

    <update id="updateUserByUserId" parameterType="user">
        UPDATE user
        <set>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="name != null">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="password != null">`password` = #{password},</if>
            <if test="accountState != null">account_state = #{accountState},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="stateTime != null">state_time = #{stateTime},</if>
            <if test="membershipGrade != null">membership_grade = #{membershipGrade},</if>
            <if test="idCardNumber != null">id_card_number = #{idCardNumber},</if>
            <if test="paymentPassword != null">payment_password = #{paymentPassword},</if>
            <if test="isRealAuthentication != null">
                is_real_authentication = #{isRealAuthentication},
            </if>
            <if test="headPortrait != null">head_portrait = #{headPortrait}</if>
        </set>
        <where>
            user_id = #{userId}
        </where>
    </update>

    <select id="getUserByUserId" parameterType="string" resultType="user">
        SELECT
        <include refid="userField"/>
        FROM user WHERE user_id = #{userId};
    </select>
</mapper>